@{
    ViewData["Title"] = "Home";
}

<div class="row justify-content-center align-content-between">
    <div class="col-sm-12 col-lg-8 d-flex flex-column justify-content-between" id="main-cards">

        <a href="#" style="display: block;" class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    <h2>Exhaust</h2>
                </div>
            </div>
        </a>

        <a href="#" style="display: block;" class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    <h2>Towing</h2>
                </div>
            </div>
        </a>

        <a href="#" style="display: block;" class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    <h2>Accessories</h2>
                </div>
            </div>
        </a>

        <a href="#" style="display: block;" class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    <h2>Garage Sale</h2>
                </div>
            </div>
        </a>

    </div>

    <div class="col-lg-4">
        <div id="fb-feed" class="bg-secondary">
            <div class="fb-page" data-href="https://www.facebook.com/ABC-Muffler-and-Hitch-165717576773960/" 
                 data-tabs="timeline" data-width="" data-height="600" data-small-header="true" 
                 data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/ABC-Muffler-and-Hitch-165717576773960/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/ABC-Muffler-and-Hitch-165717576773960/">ABC Muffler and Hitch</a></blockquote></div>
        </div>
    </div>

</div>
