
@{
    ViewData["Title"] = "Products";
}

<div class="row justify-content-center text-white text-center" id="manage-section">
    <div class="col-sm-6 col-lg-4 px-3 pt-3">
        <div class="card bg-dark">
            <div class="card-body">
                <a asp-controller="Exhausts" asp-action="Index"><h4 class="card-title">Exhaust</h4></a><br />
                <a asp-controller="Exhausts" asp-action="Create" class="btn btn-secondary my-1">Create&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <a asp-controller="Exhausts" asp-action="Index" class="btn btn-secondary my-1">Index&nbsp;&nbsp;<i class="fas fa-list"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 px-3 pt-3">
        <div class="card bg-dark">
            <div class="card-body">
                <a asp-controller="Hitches" asp-action="Index"><h4 class="card-title">Hitches</h4></a><br />
                <a asp-controller="Hitches" asp-action="Create" class="btn btn-secondary my-1">Create&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <a asp-controller="Hitches" asp-action="Index" class="btn btn-secondary my-1">Index&nbsp;&nbsp;<i class="fas fa-list"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4 px-3 pt-3">
        <div class="card border- bg-dark">
            <div class="card-body">
                <a asp-controller="Electricals" asp-action="Index"><h4 class="card-title">Electrical</h4></a><br />
                <a asp-controller="Electricals" asp-action="Create" class="btn btn-secondary my-1">Create&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <a asp-controller="Electricals" asp-action="Index" class="btn btn-secondary my-1">Index&nbsp;&nbsp;<i class="fas fa-list"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-5 px-3 pt-3">
        <div class="card bg-dark">
            <div class="card-body">
                <a asp-controller="Suspensions" asp-action="Index"><h4 class="card-title">Suspension</h4></a><br />
                <a asp-controller="Suspensions" asp-action="Create" class="btn btn-secondary my-1">Create&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <a asp-controller="Suspensions" asp-action="Index" class="btn btn-secondary my-1">Index&nbsp;&nbsp;<i class="fas fa-list"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-5 px-3 pt-3">
        <div class="card bg-dark">
            <div class="card-body">
                <a asp-controller="Accessories" asp-action="Index"><h4 class="card-title">Accessories</h4></a><br />
                <a asp-controller="Accessories" asp-action="Create" class="btn btn-secondary my-1">Create&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <a asp-controller="Accessories" asp-action="Index" class="btn btn-secondary my-1">Index&nbsp;&nbsp;<i class="fas fa-list"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-5 px-3 pt-3">
        <div class="card bg-dark">
            <div class="card-body">
                <a asp-controller="Brands" asp-action="Index"><h4 class="card-title">Brands</h4></a><br />
                <a asp-controller="Brands" asp-action="Create" class="btn btn-secondary my-1">Create&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <a asp-controller="Brands" asp-action="Index" class="btn btn-secondary my-1">Index&nbsp;&nbsp;<i class="fas fa-list"></i></a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-5 px-3 pt-3">
        <div class="card bg-dark">
            <div class="card-body">
                <a asp-controller="ProductTypes" asp-action="Index"><h4 class="card-title">Product Types</h4></a><br />
                <a asp-controller="ProductTypes" asp-action="Create" class="btn btn-secondary my-1">Create&nbsp;&nbsp;<i class="fas fa-plus"></i></a>
                <a asp-controller="ProductTypes" asp-action="Index" class="btn btn-secondary my-1">Index&nbsp;&nbsp;<i class="fas fa-list"></i></a>
            </div>
        </div>
    </div>

</div>
